@page
@model SimpleShoppingSite.Pages.Products.AddModel
@{
    ViewData["Title"] = "اضافه کردن محصول";
}

<div class="wide-wrap">
    <section class="addProduct-wrap">
        <form class="addProduct-form">
            <div class="addProduct-form-sides right-side">
                <div class="addProduct-form-input-wrap">
                    <span for="nameInput" class="addProduct-form-input-title">اسم محصول</span>
                    <input id="nameInput" class="addProduct-form-input input-text"
                           placeholder="اسم محصول را وارد کنید ..." />
                </div>
                <div class="addProduct-form-input-wrap">
                    <span for="priceInput" class="addProduct-form-input-title">قیمت محصول</span>
                    <input id="priceInput" class="addProduct-form-input input-text"
                           placeholder="قیمت محصول را وارد کنید ..." />
                </div>
                <div class="addProduct-form-input-wrap checkbox-wrap">
                    <span for="availabilityInput" class="addProduct-form-input-title">موجود در انبار</span>
                    <input type="checkbox" id="availabilityInput" class="addProduct-form-input input-checkbox" checked />
                </div>
                <div class="addProduct-form-input-wrap checkbox-wrap">
                    <span for="visibilityInput" class="addProduct-form-input-title">مخفی سازی</span>
                    <input type="checkbox" id="visibilityInput" class="addProduct-form-input input-checkbox" />
                </div>
                <div class="addProduct-form-input-wrap">
                    <span for="categoryInput" class="addProduct-form-input-title">دسته بندی محصول</span>
                    <select name="categoryInput" id="categoryInput" class="addProduct-form-input input-dropdown">
                        <optgroup label="گروه">
                            <option value="زیر گروه">زیر گروه</option>
                            <option value="زیر گروه">زیر گروه</option>
                        </optgroup>
                        <optgroup label="گروه">
                            <option value="زیر گروه">زیر گروه</option>
                            <option value="زیر گروه">زیر گروه</option>
                        </optgroup>
                    </select>
                </div>
                <div class="addProduct-form-input-wrap">
                    <span for="descInput" class="addProduct-form-input-title">توضیحات محصول</span>
                    <input id="descInput" type="text" class="addProduct-form-input input-text"
                           placeholder="توضیحات محصول را وارد کنید ..." />
                </div>
                <div class="addProduct-form-input-wrap">
                    <input class="addProduct-form-input-submit input-submit" type="submit" value="ثبت" />
                </div>
            </div>
            <div class="addProduct-form-sides left-side">
                <div class="addProduct-form-input-wrap img-input-wrap">
                    <div for="imgInput" class="addProduct-form-input-img-wrap">
                        <img class="addProduct-form-input-img" src="./img/product show cases/product2-2.jpg" />
                    </div>
                    <input id="imgInput" class="addProduct-form-input-file input-file" type="file" />
                    <span class="img-input-hover-text">برای انتخاب عکس کلیک کنید</span>
                </div>
            </div>
        </form>
    </section>
</div>