@page
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="slider">
    <button class="left-pointer slider-pointer" onclick="move(-1)">
        <i class="pointer-icon fa-solid fa-chevron-left"></i>
    </button>
    <ul class="slider-images">
        <li class="slider-image-wrap">
            <img src="img/slider1.webp" class="slider-image" />
        </li>
        <li class="slider-image-wrap">
            <img src="img/slider2.jpg" class="slider-image" />
        </li>
        <li class="slider-image-wrap">
            <img src="img/slider3.jpg" class="slider-image" />
        </li>
    </ul>
    <div class="slider-pagination">
        <button class="pagination-icon-btn">
            <i class="pagination-icon fa-solid fa-circle"></i>
        </button>
        <button class="pagination-icon-btn">
            <i class="pagination-icon fa-regular fa-circle"></i>
        </button>
        <button class="pagination-icon-btn">
            <i class="pagination-icon fa-regular fa-circle"></i>
        </button>
    </div>
    <button class="right-pointer slider-pointer" onclick="move(1)">
        <i class="pointer-icon fa-solid fa-chevron-right"></i>
    </button>
</div>
<div class="wide-wrap products-samples-wrap">
    <ul class="products-samples-mode1">
        <li class="product-sample-1">
            <a href="#" class="product-sample-1-link">
                <div class="product-sample-1-img-wrap">
                    <img src="img/product show cases/product1.webp" class="product-sample-1-img" />
                </div>
                <span class="product-sample-1-text">کیف 1</span>
                <div class="product-sample-1-price-wrap">
                    <span class="product-sample-1-prev-price">60$</span>
                    <span class="product-sample-1-offered-price">30$</span>
                </div>
            </a>
        </li>
        <li class="product-sample-2">
            <a href="#" class="product-sample-1-link">
                <div class="product-sample-1-img-wrap">
                    <img src="img/product show cases/product2-1.webp" class="product-sample-1-img" />
                </div>
                <span class="product-sample-1-text">کیف 2</span>
                <div class="product-sample-1-price-wrap">
                    <span class="product-sample-1-price">30$</span>
                </div>
            </a>
        </li>
        <li class="product-sample-2">
            <a href="#" class="product-sample-1-link">
                <div class="product-sample-1-img-wrap">
                    <img src="img/product show cases/product3-1.webp" class="product-sample-1-img" />
                </div>
                <span class="product-sample-1-text">کیف 3</span>
                <div class="product-sample-1-price-wrap">
                    <span class="product-sample-1-price">40$</span>
                </div>
            </a>
        </li>
    </ul>
</div>